<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webandapp.wadeducational">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.homeCoure.HomeCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.extras.RateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.extras.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".ui.extras.NeedHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.extras.BlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.extras.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.CourseTest.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CourseTest.SampleTestActivity"
            android:exported="false" />

        <activity
            android:name=".ui.classes.LiveClassesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.resume.ResumeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myCourse.MyCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginMechanism.ConfirmActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.loginMechanism.MainScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.loginMechanism.VerifyOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.loginMechanism.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.loginMechanism.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.loginMechanism.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>